#main_cadre{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#BLOCK_SIDE{
    width: 80%;
    padding: 8%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
}

#span_liste:hover{
    background-color: green;
}

.liste_nav:hover{
    background-color: blue;
    border-radius: 10px;
}

#navigator_side{
    min-height: 100vh;
    width: 20%;
    margin: 0px 0px 0px 0px;
}

#navigator_side > div{
    min-height: 100vh;
    width: 100%;
}

.CONTENEUR_INFO_DETAIL {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#liste{
    width: 100% !important;
}

.delete {
    background-color: #e21a1a;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    animation: spin 0.1s infinite, colorChange 0.5s infinite;
  }

  .delete:hover {
    background-color: #ffffff;
    color: #e21a1a;
  }
  
  .delete:active {
    background-color: #000000;
    color: #ffffff;
  }


  .edit {
    background-color: #e29c1a;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    animation: spin 0.1s infinite, colorChange 0.5s infinite;
  }
  
  .edit:hover {
    background-color: #ffffff;
    color: #e29c1a;
  }
  
  .edit:active {
    background-color: #000000;
    color: #ffffff;
  }


 .ajouter {
    background-color: #1a84e7;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    animation: spin 0.1s infinite, colorChange 0.5s infinite;
    margin-top: 0%;
    margin-bottom: 6%;
    margin-right: 40%;
    margin-left: 40%;
  }
  
 .ajouter:hover {
    background-color: #ffffff;
    color: #1a84e7;
  }
  
 .ajouter:active {
    background-color: #000000;
    color: #ffffff;
  }


  .submitbutton {
    background-color: #1a84e7;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    animation: spin 0.1s infinite, colorChange 0.5s infinite;
    margin-top: 0%;
    margin-bottom: 6%;
    margin-right: 40%;
    margin-left: 40%;
  }
  
 .submitbutton:hover {
    background-color: #ffffff;
    color: #1a84e7;
  }
  
 .submitbutton:active {
    background-color: #000000;
    color: #ffffff;
  }


  .FORMULAIRE{
    margin: 20px;
  }


  .DISPLAYED_INFO{
    text-align: center;
    width: 100%
  }


  #choixliste{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  #submitbutton{
    text-align: center;
}




  /*CHANGEMENTS FAITS AU HTML POUR TOUS LES FICHIERS:


 - ON REMPLACE :
  <a href="http://176.153.132.17:5/Ajouter_etudiants/"><button class="ajouter">Ajouter</button></a>

  PAR :
  <button type="submit" class="ajouter">SUPPRIMER</button>


 - ON REMPLACE :
  <button type="submit" class="btn btn-danger">SUPPRIMER</button>

  PAR :
  <button type="submit" class="delete">SUPPRIMER</button>


 - ON REMPLACE :
  <button type="submit" class="btn btn-warning">EDITER</button>

  PAR :
  <button type="submit" class="edit">EDITER</button>





- On rajoute pour CHAQUE input la classe "form-control" de bootstrap.





  - ON RAJOUTE la classe .FORMULAIRE à chaque div du DE <div class="tab-content" id="nav-tabContent"> : 

  Exemple :
ON REMPLACE :
  <div>
    <h5>Prénom :</h5>
    <p>papa</p>
  </div>

 PAR :<div class="tab-content" id="nav-tabContent">
  <div class="FORMULAIRE">
    <h5>Prénom :</h5>
    <p>papa</p>
  </div>

