{% extends 'MAIN/mp_template.html' %}
{% load static %}
{% block HEAD %}
<link rel="stylesheet" type="text/css" href="{% static 'MAIN/stylespens.css' %}">
{% endblock %}
{% block content %}
    <div class='tout'>
        <div id="absences">
        
            <div class="cases" id="case1">
                <div id="justif">
                    <div id="justificatif">
                        <div id="titrejustif">
                            <h1> CLASSE </h1>
                            <h2> ANNEE YEAR/YEAR <h2>
                        </div>

                        <div id="txtjustif">
                            <p> DATE </p>
                            <p> NOM </p>
                            <p> PRENOM(s) </p>
                            <p> DESCRIPTION JUSTIFICATIF (CHAMP A REMPLIR TRES LARGE) </p>
                        </div>
                    </div>
                    <div id="basfichier">
                        <div id="remisefichier">
                            <button id="invbutton"><img type='image/png' class="img-thumbnail" id='fichimg'></button> <!-- IMAGE LIEE AU FICHIER REMIS-->
                        </div> 
                        <div id="ajoutfichier">
                            <button id="fichierabsence"> FICHIER DE JUSTIFICATION AFFICHAGE</button> 
                            <!-- dans la mesure du possible, on appuie dessus et ça affiche le contenu du fichier, soit sur une nouvelle page, soit ici directement (ce que je préfèrerais). 
                                sinon on laissera juste l'icone qui deviendra un boutton-->
                        </div>
                    </div>
                    <div id="valid">
                        <button id="accepter"> Accepter </button>
                        <button id="refuser"> Refuser </button>
                    </div>
                </div>
            </div>

        </div>  
    </div>

{% endblock %}
