{% extends 'MAIN/mp_template.html' %}
{% load static %}

{% block HEAD %}
<link rel="stylesheet" type="text/css" href="{% static 'MAIN/stylespe.css' %}">
{% endblock %}

{% block content %}


<form method="POST" id="formAbsence">
    {% csrf_token %}
    {{ form.Cours.label_tag }}
    {{ form.Cours }}
    {{ form.Explication.label_tag }}
    {{ form.Explication }}
    {{ form.Justif_url.label_tag }}
    {{ form.Justif_url }}

    <input type="hidden" name="Etudiant" value="{{ request.user.id }}">
    <input type="hidden" name="Justifie_bool" value="False">
    <input type="hidden" name="Checke_par" value="">
    <input type="hidden" name="Commentaire_enseignant" value="">
    <input type="hidden" name="Inspection_terminee" value="False">

    
    <button type="submit" class="btn btn-primary">Ajouter la demande d'absence</button>
</form>



{% endblock %}
