#main_cadre{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#BLOCK_SIDE{
    width: 80%;
    padding: 8%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
}

#span_liste:hover{
    background-color: green;
}

.liste_nav:hover{
    background-color: blue;
    border-radius: 10px;
}

#navigator_side{
    min-height: 100vh;
    width: 20%;
    margin: 0px 0px 0px 0px;
}

#navigator_side > div{
    min-height: 100vh;
    width: 100%;
}

.CONTENEUR_INFO_DETAIL {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.CONTENEUR_INFO_DETAIL:hover{
  background-color: #d6d6d6;
}

#liste{
    width: 100% !important;
}

.delete {
    background-color: #e21a1a;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    animation: spin 0.1s infinite, colorChange 0.5s infinite;
  }

  .delete:hover {
    background-color: #ffffff;
    color: #e21a1a;
  }
  
  .delete:active {
    background-color: #000000;
    color: #ffffff;
  }


  .edit {
    background-color: #e29c1a;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    animation: spin 0.1s infinite, colorChange 0.5s infinite;
  }
  
  .edit:hover {
    background-color: #ffffff;
    color: #e29c1a;
  }
  
  .edit:active {
    background-color: #000000;
    color: #ffffff;
  }


 .ajouter {
    background-color: #1a84e7;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    animation: spin 0.1s infinite, colorChange 0.5s infinite;
    margin-top: 0%;
    margin-bottom: 2%;
  }
  
 .ajouter:hover {
    background-color: #ffffff;
    color: #1a84e7;
  }
  
 .ajouter:active {
    background-color: #000000;
    color: #ffffff;
  }


  .submitbutton {
    background-color: #1a84e7;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    animation: spin 0.1s infinite, colorChange 0.5s infinite;
    margin-top: 0%;
    margin-bottom: 6%;
    margin-right: 40%;
    margin-left: 40%;
  }
  
 .submitbutton:hover {
    background-color: #ffffff;
    color: #1a84e7;
  }
  
 .submitbutton:active {
    background-color: #000000;
    color: #ffffff;
  }


  .FORMULAIRE{
    margin: 20px;
  }


  .DISPLAYED_INFO{
    text-align: center;
    width: 100%
  }


  #choixliste{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #choixliste:hover{
    background-color: #d6d6d6;
  }


  #submitbutton{
    text-align: center;
}


#span_liste:hover {
    text-decoration: underline;
}

#span_liste {
    font-size: 20px !important;
}

.liste_nav:hover {
    background-color: #f2f2f2;
    border-radius: 10px;
    text-decoration: underline;
}

.liste_nav {
    margin-left: 4%;
}

#navigator_side {
    min-height: 100vh;
    width: 20%;
    margin: 0;
    background: linear-gradient(#c9c8c8, #f2f2f2); 
    border-right:#757575 solid;
}

#navigator_side > div {
    min-height: 100vh;
    width: 100%;
}

.paragliste{
    text-align: center;
}

.titreliste{
    text-align: center;
    font-size: 30px;
}

.imgsb{
   text-align: center;
}

.titrelink{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.liste-elements{
    list-style-type: none;
}