{% extends 'MAIN/mp_template.html' %}

{% load static %}

{% block HEAD %}
<link rel="stylesheet" type="text/css" href="{% static 'MAIN/stylespe.css' %}">

{% endblock %}

{% block content %}
<div class='tout'>
    <div id="absences">
        <div id="case2" class="cases">
            <div id="droite">
                <div id="historiqueabsences">
                    <div id="envoye" class='notif'>
                        <p> ABSENCES ACCEPTEES</p>
                        {% for absences in absences %}
                            {% if absences.Inspection_terminee == True and absences.Justifie_bool == True %}
                                <p>{{ absences.id }}</p>
                            {% endif %}
                        
                        {% endfor %}
                    </div>
                    <div id="accepte" class='notif'>
                        <p> ABSENCES REFUSEES</p>
                        {% for absences in absences %}
                            {% if absences.Inspection_terminee == True and absences.Justifie_bool == False %}
                                <p>{{ absences.id }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div id="refuse" class='notif'>
                        <p> ABSENCES EN ATTENTE</p>
                        {% for absences in absences %}
                            {% if absences.Inspection_terminee == False %}
                                <p>{{ absences.id }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <a href="{% url 'ABSENCES:Ajouter_absence' %}"><button class="btn btn-primary">Ajouter une absence</button></a>
    </div>  
</div>

{% endblock %}
