{% extends 'MAIN/enseignants/gestion_ens.html' %}
{% load static %}

{% block SIDE_GESTION %}
<form method="POST" id="formetu">
    {% csrf_token %}

    <div class="form-row">
        <div class="form-group col-6">
            <label for="id_nom">Nom :</label>
            <input class='form-control' type="text" name="nom" id="id_nom">
        </div>

        <div class="form-group col-6">
            <label for="id_prenom">Prénom :</label>
            <input class='form-control' type="text" name="prenom" id="id_prenom">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-6">
            <label for="id_email">Email :</label>
            <input class='form-control' type="email" name="mail" id="id_email">
        </div>

        <div class="form-group col-6">
            <label for="id_groupe">Groupe (Clef):</label>
            <select name="groupe" id="id_groupe">
                {% for choice in form.groupe.field.choices %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
            </select>
        </div>
        
    </div>

    <div class="form-row">
        <div class="form-group col-6">
            <label for="id_photo">Photo (url) :</label>
            <input class='form-control'  type="text" name="photo" id="id_photo">
        </div>

        <div class="form-group col-6">
            <label for="id_description">Description :</label>
            <textarea name="description" id="id_description"></textarea>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-6">
            <label for="id_adresse">Adresse :</label>
            <input class='form-control' type="text" name="adresse" id="id_adresse">
        </div>

        <div >
            <label for="id_boursier">Boursier :</label>
            <input class='form-control' type="checkbox" name="boursier" id="id_boursier">
        </div>
    </div>

    <div id="submitbutton">
        <br>
        <button type="submit" class="btn submitbutton">Créer l'étudiant</button>
    </div>
</form>
{% endblock %}