{% extends 'MAIN/enseignants/gestion_ens.html' %}

{% load static %}

{% block SIDE_GESTION %}

<a href="{% url 'ABSENCES:Ajouter_cour' %}"><button class="btn ajouter">Ajouter un cours</button></a>

<div class="row" id="liste">
    <div class="col-4" id="choixliste">
      <div class="list-group" id="list-tab" role="tablist">
        {% for cours in cours %}
        <a class="list-group-item list-group-item-action DISPLAYED_INFO" id="{{ cours.id }}" data-toggle="list" href="" role="tab" aria-controls="home">{{ cours.Titre_cours }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="col-8 " id="infoliste">
      <div class="tab-content" id="nav-tabContent">
        {% for cours in cours %}
        <div class="tab-pane fade show CONTENEUR_INFO_DETAIL" id="follow_up_{{ cours.id }}" role="tabpanel" aria-labelledby="list-home-list">
            <div>
                <h5>Intitulé :</h5>
                <p>{{ cours.Titre_cours }}</p>
            </div>
            <div>
                <h5>Enseignant :</h5>
                <p>{{ cours.enseignant.nom }}</p>
            </div>
            <div>
                <h5>Groupe :</h5>
                <p>{{ cours.Groupes.nom }}</p>
            </div>
            <div>
                <h5>Date :</h5>
                <p>{{ cours.Date }}</p>
            </div>
            <div>
                <h5>Durée :</h5>
                <p>{{ cours.Duree }}</p>
            </div>
            <form action="{% url 'ABSENCES:Supprimer_cour' cours.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn delete">SUPPRIMER</button>
            </form>
            <form action="{% url 'ABSENCES:afficher_modif_form_cour' cours.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn edit">EDITER</button>
            </form>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script>
const divs = document.querySelectorAll('.DISPLAYED_INFO');
const tabPanes = document.querySelectorAll('.tab-pane');

function removeAllActiveClasses() {
  divs.forEach(div => {
    div.classList.remove('active');


  });

  tabPanes.forEach(pane => {
    pane.style.display = "none";
    pane.classList.remove('active');

  });
}

divs.forEach(div => {
  div.addEventListener('click', function() {
    const divId = this.id;
    console.log(this.id);

    removeAllActiveClasses();

    document.getElementById('follow_up_' + divId).style.display = "flex";
    document.getElementById('follow_up_' + divId).classList.add('active');
  });
});

</script>
{% endblock %}