{% extends 'MAIN/enseignants/gestion_ens.html' %}

{% load static %}

{% block SIDE_GESTION %}
<a href="{% url 'ABSENCES:Ajouter_enseignants' %}"><button class="btn ajouter">Ajouter un enseignant</button></a>

<div class="row" id="liste">
    <div class="col-4" id="choixliste">
      <div class="list-group" id="list-tab" role="tablist">
        {% for enseignant in enseignant %}
        <a class="list-group-item list-group-item-action DISPLAYED_INFO" id="{{ enseignant.id }}" data-toggle="list" href="" role="tab" aria-controls="home">{{ enseignant.nom }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="col-8 " id="infoliste">
      <div class="tab-content" id="nav-tabContent">
        {% for enseignant in enseignant %}
        <div class="tab-pane fade show CONTENEUR_INFO_DETAIL" id="follow_up_{{ enseignant.id }}" role="tabpanel" aria-labelledby="list-home-list">
            <div>
                <h5>Nom :</h5>
                <p>{{ enseignant.nom }}</p>
            </div>
            <div>
                <h5>Prénom :</h5>
                <p>{{ enseignant.prenom }}</p>
            </div>
            <div>
                <h5>Mail :</h5>
                <p>{{ enseignant.mail }}</p>
            </div>
            <form action="{% url 'ABSENCES:Supprimer_enseignant' enseignant.id %}" method="post" id="delete-form-{{ enseignant.id }}">
              {% csrf_token %}
              <button class="btn delete" onclick="confirmDelete('{{ enseignant.id }}')">SUPPRIMER</button>
            </form>
            <form action="{% url 'ABSENCES:afficher_modif_form_ens' enseignant.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn edit">EDITER</button>
            </form>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script>
const divs = document.querySelectorAll('.DISPLAYED_INFO');
const tabPanes = document.querySelectorAll('.tab-pane');

function removeAllActiveClasses() {
  divs.forEach(div => {
    div.classList.remove('active');


  });

  tabPanes.forEach(pane => {
    pane.style.display = "none";
    pane.classList.remove('active');

  });
}

divs.forEach(div => {
  div.addEventListener('click', function() {
    const divId = this.id;
    console.log(this.id);

    removeAllActiveClasses();

    document.getElementById('follow_up_' + divId).style.display = "flex";
    document.getElementById('follow_up_' + divId).classList.add('active');
  });
});

</script>
{% endblock %}