{% extends 'MAIN/enseignants/gestion_ens.html' %}
{% load static %}

{% block SIDE_GESTION %}
<form method="POST" id="formetu">
    {% csrf_token %}

    <div class="form-group col-6">
        <label for="id_nom">Nom :</label>
        <input class='form-control' type="text" name="nom" id="id_nom">
    </div>

    <div class="form-group col-6">
        <label for="id_prenom">Prénom :</label>
        <input class='form-control' type="text" name="prenom" id="id_prenom">
    </div>

    <div class="form-group col-6">
        <label for="id_email">Email :</label>
        <input class='form-control' type="email" name="mail" id="id_email">
    </div>

    <div id="submitbutton">
        <br>
        <button type="submit" class="btn submitbutton">Valider</button>
    </div>
</form>
{% endblock %}