<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
        

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{% static 'BOOTSTRAP/js_BOOTSTRAP/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'BOOTSTRAP/css_BOOTSTRAP/bootstrap.min.css' %}" > 
        <link rel="stylesheet" type="text/css" href="{% static 'PROFIL/stylespe.css'%}">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

        <link rel="icon" type="image/png" href="">

        <title>GESTION ABSENCES [PROFIL ETU]</title>
</head>

<body>

    <header class="navbar navbar-dark bg-dark" id='headermainp'>
        <div class="bouttonsmain">
            <a href='/mainpage' class="new-item active"> <button type="button" id='menu'> Log Out</button> </a>
        </div>

        <span class='titre'> Dub STEM Management School </span>

        <a href='/profil-etu/custom' class="userimge"> <img src="{% static 'images/absences_p/etudiant.jpg' %}" type='image/jpeg' class="rounded-circle" id='userimg'> </a> 

    </header>

    
<div class='tout'>
    <div id="main_cadre">
        <section id="navigator_side">
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                  <span class="fs-4" style="color: black;">GERER</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                  <li class="liste_nav">
                    <a href="#" class="nav-link" style="color: black;" aria-current="page">
                      <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                      COURS
                    </a>
                  </li>
                  <li class="liste_nav"> 
                    <a href="#" class="nav-link" style="color: black;">
                      <svg class="bi me-2" width="16"  height="16"><use xlink:href="#speedometer2"></use></svg>
                      GROUPES
                    </a>
                  </li>
                  <li class="liste_nav">
                    <a href="#" class="nav-link" style="color: black;">
                      <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                      ETUDIANTS
                    </a>
                  </li>
                  <li class="liste_nav">
                    <a href="#" class="nav-link" style="color: black;">
                      <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                      ENSEIGNANTS
                    </a>
                  </li>
                </ul>
              </div>
        </section>
        <section id="BLOCK_SIDE">
    
        </section>
    </div>
    

</div>


<div>
    <nav class="navbar navbar-dark bg-primary" id="navbardown">
          <div class="basenbas">
              <div class="fin">
                <h4>Contact</h4>
                <p>Adresse : 123 BassDropAvenue - Roubaix France</p>
                <p>Téléphone : +33 03 68 91 45 18</p>
                <p>Email : dubstem@mail.com</p>
              </div>
              <div class="fin">
                <h4>Réseaux sociaux</h4>
                  <a href='https://facebook.com'> <img src="{% static 'images/absences_mp/facebook.png' %}" type='image/png' class="imgbas"> </a> 
                  <a href='https://instagram.com'> <img src="{% static 'images/absences_mp/instagram.png' %}" type='image/png' class="imgbas"> </a> 
                  <a href='https://twitter.com'> <img src="{% static 'images/absences_mp/twitter.png' %}" type='image/png' id="imgbas"> </a> 
              </div>
          </div>
              <div class="fin" id="enbas">
                <p id="copyright">&copy; 2023 DUB STEM MANAGEMNT SCHOOL</p>
          </div>
    </nav>
</div>
</body> 

</html> 